<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594108323606-ptl3dk6pcetlvtkipa6rgtj3us1g7krb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594108323606-ptl3dk6pcetlvtkipa6rgtj3us1g7krb</string>
	<key>API_KEY</key>
	<string>AIzaSyCxNSqLkHypPFo5xyClv_AeIc3owo0V1a8</string>
	<key>GCM_SENDER_ID</key>
	<string>594108323606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumeBuilder</string>
	<key>PROJECT_ID</key>
	<string>fitness-74404</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-74404.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594108323606:ios:731bd79eb9de6e2139a237</string>
</dict>
</plist>